<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Document</title>
  <link rel="icon" type="image/x-icon" href="/app/favicon.ico"/>
  <link rel="stylesheet" href="/app/assets/styles/flatly.bootstrap.min.css"/>
  <link rel="stylesheet" href="/app/assets/styles/app.styles.css"/>
</head>
<body>
<app-root>Loading...</app-root>
<script type="text/javascript" src="/app/inline.bundle.js"></script>
<script type="text/javascript" src="/app/styles.bundle.js"></script>
<script type="text/javascript" src="/app/main.bundle.js"></script>
</body>
</html>
